* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}
.container {
  height: 120vh;
  width: 100%;
}
/*Sidemenu-bar_________________________________________________________________________________________________________________________________________________________________________________________________________________*/

.box {
  width: 200px;
  height: 100%;
  background-color: #000;
  box-shadow: 0 0 0.5rem rgba(126, 95, 100, 0.9);
  position: fixed;
  text-align: left;
  z-index: 1;
  opacity: 0;
  left: -500px;
  pointer-events: none;
  transition: 0.4s;
}
.active.box {
  opacity: 1;
  left: 0px;
  pointer-events: fill;
}
.menu-icon-box {
  z-index: 2;
  width: fit-content;
  height: auto;
  background-color: transparent;
  margin: 30px;
  position: fixed;
  border-radius: 4px;
  cursor: pointer;
  transition: 5s;
}
.line1,
.line2,
.line3 {
  width: 40px;
  height: 4px;
  margin: 10px 8px;
  background-color: #f8f9d7;
  border-radius: 50px;
}
.active .line1 {
  transform: translate(0px, 15px) rotate(45deg);
}
.active .line2 {
  transform: translate(0px, 1px) rotate(-45deg);
}
.active .line3 {
  opacity: 0;
}
.box .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem rgba(100, 75, 79, 0.9);
}
.box .logo .pic {
  border: 3px solid #d4adfc;
  margin-top: 80px;
  margin-bottom: 10px;
  height: 160px;
  width: 110px;
  border-radius: 50%;
  background-image: url("/images/myImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
nav .menu {
  margin: 10px 0px 0px 0px;
  padding-right: 40px;
}
nav ul {
  margin: 0px 20px;
}
nav ul li {
  list-style: none;
  margin-top: 10px;
  transition: 0.1s;
}
nav ul li:hover {
  font-weight: bold;
  border-radius: 8px;
}
nav ul li a {
  color: #fff;
  font-size: 10px;
  padding: 10px 0px;
  display: block;
  text-decoration: none;
}
nav ul li a:hover {
  color: #d4adfc;
}
nav ul li a i {
  color: #d4adfc;
  font-size: 20px;
  padding-right: 5px;
}
.social-media {
  height: 50px;
  position: fixed;
  left: 50px;
  bottom: 10px;
  padding: 10px;
  text-align: center;
}
.social-media i {
  color: #d4adfc;
  opacity: 0.3;
  font-size: 30px;
}
.social-media i:hover {
  opacity: 1;
  font-size: 35px;
  transition: all 0.01s linear;
}
/*FRONT__________________________________________________________________________________________________________________________________________________________________________________________________________________*/

.front {
  width: 100%;
  height: 100vh;
  display: flex;
}
.flex-box {
  width: 100%;
  margin: 100px;
  color: #fff;
}
.intro {
  width: fit-content;
  color: #d4adfc;
  font-size: 50px;
  margin: 5px;
}
.intro:hover {
  border-radius: 10px;
  box-shadow: 0 0 0.5rem rgba(183, 170, 172, 0.99);
}
.sd {
  line-height: 4rem;
  color: #f8f9d7;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s, cursor 1s step-end infinite alternate-reverse;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
.sd p {
  font-size: 28px;
}
.msg {
  padding: 10px;
  font-size: 20px;
  margin: 5px;
}
.msg-div:hover {
  border-radius: 10px;
  box-shadow: 0 0 0.5rem rgba(183, 170, 172, 0.99);
}
.front .icons {
  line-height: 7rem;
  font-size: 35px;
}
.icons i {
  border: 4px solid #d4adfc;
  height: 55px;
  padding: 6px;
  border-radius: 50%;
  background-color: #fff;
}
#linkedin {
  margin-right: 20px;
  color: rgb(32, 32, 167);
}
#linkedin:hover {
  box-shadow: 0 0 0.5rem rgba(183, 170, 172, 0.99);
  border: 3px solid #535c91;
}
#github {
  color: rgb(0, 0, 0);
}
#github:hover {
  box-shadow: 0 0 0.5rem rgba(183, 170, 181, 0.99);
  border: 3px solid #535c91;
}
.btn {
  border: 2px solid #fff;
  background-color: #d4adfc;
  margin: 10px;
  height: 50px;
  width: 130px;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
.btn:hover {
  background-color: #1b1a55;
  box-shadow: 0 0 0.5rem rgba(183, 170, 181, 0.99);
  color: #fff;
}

/*About_________________________________________________________________________________________________________________________________________________________________________________________________________________*/

.about {
  margin: 100px;
  background-color: #000;
  display: flex;
}
.about-content {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.about-info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-title {
  margin: 30px 5px 30px 5px;
  box-shadow: 0 0 2rem rgba(183, 170, 172, 0.99);
  color: #d4adfc;
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.about-title:hover {
  color: #fff;
}
.info-div1 {
  color: #fff;
  font-size: 20px;
  margin-top: 100px;
  padding: 40px;
  border-radius: 10px;
  height: fit-content;
  width: 99%;
  line-height: 39px;
}
/* .info-div1:hover {
  box-shadow: 0 0 0.5rem rgba(183, 170, 172, 0.99);
} */
.info-div2 {
  color: #fff;
  font-size: 20px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  height: fit-content;
  width: 99%;
  line-height: 40px;
}
/* .info-div2:hover {
  box-shadow: 0 0 0.5rem rgba(183, 170, 172, 0.99);
} */
.info-div3 {
  color: #fff;
  font-size: 20px;
  margin: 30px 0 30px 0;
  padding: 40px;
  border-radius: 10px;
  height: fit-content;
  width: 99%;
  line-height: 40px;
}
.info-div3:hover,
.info-div2:hover,
.info-div1:hover {
  box-shadow: 0 0 0.5rem rgba(183, 170, 172, 0.99);
}
.info-div h3 {
  text-align: left;
  color: #d4adfc;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 20px;
}
.scl-clg {
  font-weight: bold;
  color: #d4adfc;
}
.info3 {
  font-size: 35px;
  font-weight: bold;
  color: #d4adfc;
}

/*Experience_______________________________________________________________________________________________________________________________________________________________________________________*/

/*Projects_______________________________________________________________________________________________________________________________________________________________________________________*/

.project-info {
  height: 100vh;
  margin: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pr {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pr-content {
  box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
  margin: 30px;
  position: relative;
  display: inline-block;
}
.pr-content img {
  height: 300px;
  width: 500px;
  display: block;
  transition: opacity 0.5s ease;
}
.title-msg {
  font-size: 25px;
  position: absolute;
  top: 20%;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease;
  a {
    color: #d4adfc;
  }
}
.pr-content .pr-para {
  padding: 25px;
}
.bold-span {
  color: #d4adfc;
  font-size: 25px;
  font-weight: bold;
}

.pr-content:hover img {
  opacity: 0;
}
.pr-content:hover .title-msg {
  opacity: 1;
}

/*Skills_____________________________________________________________________________________________________________________________________________________________________________________________________*/

.card-lang {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0 50px 0;
  margin: 40px;
  .card-title {
    margin: 30px;
    height: 100px;
    width: 100%;
    h4 {
      border-radius: 5px;
      box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);

      padding: 10px;
      text-align: center;
      color: #d4adfc;
      font-weight: bold;
      font-size: 42px;
    }
  }
  .img-div {
    margin: 50px;
  }
  img {
    height: 100px;
    width: 100px;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
}
.card-lib {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0 50px 0;
  margin: 20px;
  .card-title {
    margin: 30px;
    height: 100px;
    width: 100%;
    h4 {
      border-radius: 5px;
      box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
      padding: 10px;
      text-align: center;
      color: #d4adfc;
      font-weight: bold;
      font-size: 42px;
    }
  }
  .img-div {
    margin: 30px;
  }
  img {
    height: 100px;
    width: 100px;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
}
.card-frame {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0 50px 0;
  margin: 20px;
  .card-title {
    margin: 30px;
    height: 100px;
    width: 100%;
    h4 {
      border-radius: 5px;
      box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
      padding: 10px;
      text-align: center;
      color: #d4adfc;
      font-weight: bold;
      font-size: 42px;
    }
  }
  .img-div {
    margin: 30px;
  }
  img {
    height: 100px;
    width: 100px;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
}
.card-others {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0 50px 0;
  margin: 20px;
  .card-title {
    margin: 30px;
    height: 100px;
    width: 100%;
    h4 {
      border-radius: 5px;
      box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
      padding: 10px;
      text-align: center;
      color: #d4adfc;
      font-weight: bold;
      font-size: 42px;
    }
  }
  .img-div {
    margin: 30px;
  }
  img {
    height: 150px;
    width: 150px;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
}

/*certificate__________________________________________________________________________________________________________________________________________________________________________________*/

.certificate {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 50px;
  .certificate-content {
    box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
    margin: 30px;
    padding: 20px;
    height: 500px;
    width: 500px;
    img {
      height: 300px;
      width: 100%;
    }
    .pr-para {
      padding-top: 10px;
    }
    .bold-span {
      color: #d4adfc;
    }
    .title-msg2 {
      color: #fff;
      line-height: 2rem;
      font-size: 18px;
    }
    .title-msg3 {
      color: #d4adfc;
      font-size: 18px;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

/*education__________________________________________________________________________________________________________________________________________________________________________________*/

.education {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 100px;
  .education-content {
    box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
    margin: 30px;
    padding: 20px;
    height: fit-content;
    width: 500px;
    .bold-span {
      color: #d4adfc;
      margin: 20px;
    }
    .title-msgE {
      line-height: 2rem;
      font-size: 20px;
      color: #fff;
    }
    a {
      text-decoration: none;
      color: #d4adfc;
    }
    ul {
      padding: 5px;
      line-height: 1.5rem;
      color: #d4adfc;
    }
    li {
      line-height: 2rem;
      color: #fff;
    }
  }
}

/*contact__________________________________________________________________________________________________________________________________________________________________________________*/
.contact-info {
  height: 500px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.phone,
.mail,
.github,
.linkedin {
  padding: 20px;
  margin: 5px;
  i {
    color: #d4adfc;
    font-size: 40px;
  }
  span {
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
.phone:hover {
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
}
.mail:hover {
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
}
.github:hover {
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
}
.linkedin:hover {
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(183, 170, 172, 0.99);
}
.terms-cond {
  color: #fff;
  padding: 10px 0 10px 10px;
}
